.header {
  padding: 16px 0;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  position: sticky;
  top: 0;
  transition: transform 0.5s ease-in-out;

  &.hide {
    transform: translateY(-100%);
  }
}
