:root {
  // Fonts
  --font-base: 'Roboto', sans-serif;

  // Colors
  --color-base-950: #000;
  --color-base-900: #1a1a1a;
  --color-base-800: #333;
  --color-base-700: #4d4d4d;
  --color-base-600: #666;
  --color-base-500: #808080;
  --color-base-400: #999;
  --color-base-300: #b3b3b3;
  --color-base-200: #ccc;
  --color-base-100: #e6e6e6;
  --color-base-50: #fff;

  // Z-index
  --z-index-900: 900;
  --z-index-100: 100;

  // Transition
  --transition-base: 0.3s ease-in-out;
}
