.header {
  display: flex;
  flex: 0 0 auto;
  gap: 1rem;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;

  h1 {
    font-size: 1.5rem;
  }

  img {
    width: 80px;
    height: 80px;
  }
}
