<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="https://github.com/skripkaru/webpack-boilerplate" target="_blank">
        <img width="40" src="assets/images/logo.svg" alt="" />
      </a>
      <nav class="header__navbar">
        {{#each nav }}
        <a href="{{ url }}">{{ title }}</a>
        {{/each }}
        <button>
          <svg width="24" height="24">
            <use xlink:href="sprite.svg#close" />
          </svg>
        </button>
      </nav>
    </div>
  </div>
</header>
