<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="https://github.com/skripkaru/webpack-boilerplate" target="_blank">
        <img width="40" src="assets/images/logo.svg" alt="" />
      </a>
      <nav>
        <ul class="menu">
          {{#each menu }} {{> menu-item}} {{/each }}
        </ul>
      </nav>
    </div>
  </div>
</header>
