<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="author" content="Evgeniy Skripkaru" />
    <meta name="description" content="Webpack Boilerplate" />
    <meta name="keywords" content="Webpack, Handlebars, SCSS" />
    <link href="@images/favicon.svg" rel="shortcut icon" type="image/x-icon" />
    <link href="@fonts/Roboto-Bold.woff2" as="font" rel="preload" type="font/woff2" crossorigin />
    <link href="@fonts/Roboto-Regular.woff2" as="font" rel="preload" type="font/woff2" crossorigin />
    <link href="@styles/main.scss" rel="stylesheet" />
    <title>{{ pageTitle }}</title>
  </head>
  <body>
    <div class="layout">
      {{>components/header }}
      <main class="main">
        <div class="container">{{> @partial-block }}</div>
      </main>
      {{>components/footer }}
    </div>
    {{>components/modals/example }}
    <script src="@scripts/main.js"></script>
  </body>
</html>
