{{#>layouts/default pageTitle='Навигация' }}

<section>
  <ul>
    {{#each pages}}
    <li>
      <a href="{{ url }}" target="_blank">{{ title }}</a>
    </li>
    {{/each}}
  </ul>
</section>

{{/layouts/default}}
