{{#>layouts/default pageTitle=pageTitle }}

<section>
  <h1>{{ pageTitle }}</h1>
  <button class="button button--primary" data-micromodal-trigger="example">Open modal</button>
</section>

{{/layouts/default}}
