{{#>layouts/default title='Home' }}
  <div style="display: grid;grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));gap: 32px;">
    {{#each employees}}
      {{>components/card }}
    {{/each}}
  </div>
{{/layouts/default}}
