{{#>layouts/default title='Навигация' }}
<section class="section">
  <ul class="grid gap-xs">
    {{#each pages }}
    <li>
      <a href="{{ url }}" target="_blank">{{ title }}</a>
    </li>
    {{/each }}
  </ul>
</section>
{{/layouts/default}}
