{{#>layouts/default title='Навигация' }}
<section class="section">
  <h1>Навигация</h1>

  <ul class="grid gap-xs">
    {{#each menu }} {{#if title}}
    <li>
      <a href="{{ url }}">{{ title }}</a>
    </li>
    {{/if}} {{/each }}
  </ul>
</section>
{{/layouts/default}}
