<footer class="footer">
  <div class="container">
    <a href="https://github.com/skripkaru/webpack-boilerplate" target="_blank" style="display: flex; align-items: center; gap: 4px;">
      <img width="32" src="../assets/images/logo.svg" alt="">
      <span>Webpack Boilerplate</span>
    </a>
  </div>
</footer>
