<header class="header">
  <div class="container">
    <nav style="display: flex; gap: 16px">
      {{#each nav }}
      <a href="{{ url }}">{{ title }}</a>
      {{/each }}
    </nav>
  </div>
</header>
