@mixin clamp($lines, $font-size: 16px, $line-height: 1.2) {
  overflow: hidden;
  display: -webkit-box;
  max-height: calc($font-size * $line-height) * $lines;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
}
